#Binaries
*.exe
*.exe~
*.dll

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Replit.com IDE config files
*.replit

# Scripts & utils
*.sh